<!DOCTYPE html>
<div style="padding-top:50px;" class="box content">
	<div class="main-card">
		<h1 class="middle">Philip Baumann</h1>
		<h2 class="middle text-light">(he/him)</h2>
		<h2 class="middle text-regular">Developer, musician, nature enthusiast, and space fanatic.</h2>
	</div>
	{% include logo.html %}
	<div class="mid-card middle">
		<p>This is a personal project to create a digital garden of <strong>stuff</strong> I like.</p>
	</div>
	<div class="sub-card">
		<p class="text-bold middle">Welcome!</p>
	</div>
	
</div>

