<div class="image-site-wrapper">
	<img class="inner-center site-image" src="../assets/images/fern1.jpg" alt="A picture of a black/brown/gray domestic long-haired cat sitting patiently."> 
	<img class="inner-center site-image" src="../assets/images/fern2.jpg" alt="A picture of a black/brown/gray domestic long-haired cat sleeping on a blanket."> 
	<img class="inner-center site-image" src="../assets/images/fern3.jpg" alt="A picture of a laptop with black/brown/gray domestic long-haired cat sitting expectedly behind it."> 
</div>