<footer class="box footer footer-ul">
	<a class="footer-li" href="https://github.com/philiprbaumann">
		<i class="fa fa-github footer-icon"></i>
	</a>
	<a class="footer-li" href="mailto:philiprbaumann@gmail.com">
		<i class="fa fa-envelope footer-icon"></i>
	</a>
	<a class="footer-li" href="https://www.linkedin.com/in/philiprbaumann">
		<i class="fa fa-linkedin footer-icon"></i>
	</a>
	<a class="footer-li" href="https://open.spotify.com/user/22twu4y2zmxnmjwzroyjb3mga">
		<i class="fa fa-spotify footer-icon"></i>
	</a>
</footer> 
