{% include name.html %}	
<nav class="main-navigation box header">
  <a href="/" {% if page.url == '/' %} class="main-navigation__item active"{% endif %} class="main-navigation__item">home</a>
  <a href="/thoughts" {% if page.url == '/thoughts/' %} class="main-navigation__item active"{% endif %} class="main-navigation__item">thoughts</a>	
  <a href="/resume" {% if page.url == '/resume/' %} class="main-navigation__item active"{% endif %} class="main-navigation__item">resume</a>
  <a href="/wiki" {% if page.url == '/wiki/' %} class="main-navigation__item active"{% endif %} class="main-navigation__item">wiki</a>
</nav>