<div class="profile-wrapper inner-center">
  <img class="profile-picture" src="assets/images/profile_2.png" alt="profile">
  <svg class="profile-ring-svg" viewBox="-40 -25 600 790" xmlns="http://www.w3.org/2000/svg">
    <path d="M 255,-10
             C 385,-10 488,180 520,305
             C 552,430 468,470 385,570
             C 302,670 385,735 255,735
             C 125,735 6,529 -10,400
             C -26,271 25,223 125,140
             C 225,57 125,-10 255,-10 Z"
          fill="none"
          stroke="#E8702A"
          stroke-width="6"
          stroke-opacity="0.78"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="profile-ring"/>
  </svg>
</div>
