<!-- <div class="box sidebar">
	{% for item in site.data.navigation.seeds %}
	<h3>{{ item.title }}</h3>
	<ul>
		{% for entry in item.subfolderitems %}
		<li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}
</div> -->

<div class="box sidebar">
	<div class="primary-nav">
	<button href="#" class="hamburger open-panel nav-toggle">
	<span class="screen-reader-text">Menu</span>
	</button>

		<nav role="navigation" class="menu">

			<a href="#" class="logotype">P<span>B</span></a>

			<div class="overflow-container">

				<ul class="menu-dropdown">

					<li><a href="#">Home</a></li>
					{% for item in site.data.navigation.seeds %}

					<li class="menu-hasdropdown">
						<a href="/{{ item.title }}/">{{ item.title }}</a>

						<label title="toggle menu" for="{{ item.title }}"></label>
						<input type="checkbox" class="sub-menu-checkbox" id="{{ item.title }}" />

						<ul class="sub-menu-dropdown">
							{% for entry in item.subfolderitems %}
							<li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>

			</div>

		</nav>

	</div>
</div>