.about-wrapper {
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	grid-template-areas: "columnleft columnright";
  	gap: 1rem 2rem;
  	align-items: start;
}

.about-col-left {
	grid-area: columnleft;
}

.about-col-right {
	grid-area: columnright;
}

.profile-picture {
	max-width: clamp(220px, 45vw, 510px);
	width: 100%;
	height: auto;
	aspect-ratio: 5 / 7;
	object-fit: cover;
	border-radius: 100vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
}

@media only screen and (max-width: 1200px) {
	.about-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			"columnleft"
			"columnright";
	}
}


@media only screen and (max-width: 500px) {
	.profile-picture {
		max-width: 75vw;
	}
}