@charset "utf-8";

$color-tan: #f4f1de; 
$color-orange: #e07a5f;
$color-blue: #3d405b;
$color-teal: #81b29a;
$color-brown: #f2cc8f;

// Color palette found here:
// https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f