@font-face {
	font-family: "content";
	src: url("../fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
	font-family: "contentbold";
	src: url("../fonts/IBMPlexMono-Bold.ttf");
}

@font-face {
	font-family: "contentlight";
	src: url("../fonts/IBMPlexMono-Light.ttf");
}

@font-face {
	font-family: "title";
	src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "bigname";
	src: url("../fonts/RobotoSlab-Bold.ttf");
}

.text-light {
	font-family: contentlight;
}

.text-regular {
	font-family: content;
}

.text-bold {
	font-family: contentbold;
}

.title {
	font-family: title;
}

.big-name {
	font-family: bigname;
}