
.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: $color-tan;
  color: $color-teal;
}

.box {
  background-color: $color-teal;
  color: $color-tan;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

