.content {
  grid-area: content;
  // width: 70vw;
  padding-left: 5vw;
  padding-right: 5vw;
  height: max-content;
}

.header {
  grid-area: header;
  position: relative;
  top: 0;
  width: 70vw;
  height: 2.5rem;
  left: 0px;
  right: 0px;
  padding: 25px 0 25px 0;
}

.name {
  grid-area: name;
  font-family: bigname;
  letter-spacing: 6px;
  color: $color-navy;
  font-size: 32px;
  text-align: center;
  padding: 5px 0px 0px 30px;
  width: 30vw;
  overflow: visible;
}

.footer {
  grid-area: footer;
  position: relative;
  bottom: 0;
  width: 90vw;
  height: 2.5rem;
  padding: 10px;
  left: 0px;
  right: 0px;
}

.wrapper {
  background-color: $color-white;
  color: $color-teal;
}

.wrapper {
  .name {
      display: none;
      width: 0vw;
  }
  .main-navigation {
    width: 100vw;
  }
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
  "header"
  "content"
  "content"
  "footer"
}

@media only screen and (min-width: 500px)  {
  .wrapper {
    .name {
      display: inline-flex;
      width: 30vw;
    }
    .main-navigation {
      width: 70vw;
    }
    grid-template-columns: 5% auto;
    grid-template-areas:
    "name   header"
    "content  content"
    "content  content"
    "footer   footer";
  }
}

@media only screen and (min-width: 600px)   {
  .wrapper {
    .name {
      display: inline-flex;
      width: 30vw;
    }
    .main-navigation {
      width: 70vw;
    }
    grid-gap: 0px;
    grid-template-columns: auto;
    grid-template-areas:
    "name header header header header"
    "content content content content content "
    "footer footer footer footer footer";
  }
}

.box {
  color: $color-aqua;
}

.content {
  position: relative;
}
