.content {
  grid-area: content;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
  height: max-content;
}

.header {
  grid-area: header;
  position: relative;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 25px 0 25px 0;
}

.name {
  grid-area: name;
  font-family: bigname;
  letter-spacing: 6px;
  color: $color-navy;
  font-size: 32px;
  padding: 5px 0px 0px 5vw;
  overflow: visible;
}

.footer {
  grid-area: footer;
  position: relative;
  padding: 1vh;
  min-height: 60px;
}

.wrapper {
  background-color: $color-white;
  color: $color-teal;
}

.wrapper {
  .name {
      display: none;
      width: 0vw;
  }
  .main-navigation {
    width: 100%;
  }
  display: grid;
  gap: 1em;
  grid-template-areas:
  "header"
  "content"
  "content"
  "footer"
}

@media only screen and (min-width: 850px) {
  .wrapper {
    .name {
      display: inline-flex;
      width: 25vw;
    }
    .main-navigation {
      width: 70vw;
    }
    gap: 0px;
    grid-template-columns: auto;
    grid-template-areas:
    "name header header header header"
    "content content content content content"
    "footer footer footer footer footer";
  }
}

.box {
  color: $color-aqua;
}
