.movie-wrapper {
	padding-top: 1vh;
	padding-bottom: 1vh;
	display: grid;
	column-gap: 2vw;
	overflow:hidden;
	row-gap: 2vh;
	height: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-template-areas: 
	"movie-left0 movie-lmid0 movie-rmid0 movie-right0"
	"movie-left1 movie-lmid1 movie-rmid1 movie-right1"
	"movie-left2 movie-lmid2 movie-rmid2 movie-right2"
	"movie-left3 movie-lmid3 movie-rmid3 movie-right3"
}

.border {
	border: 2px dashed $color-blue;
	padding: 10px;
}
