.music-wrapper {
  	padding-top: 1vh;
  	padding-bottom: 1vh;
}

.music-link {
	list-style-type: none; 
	color: $color-blue;
	cursor: pointer;
	text-align: left;
	transition: 0.4s;
	padding: 1vh 1vw;
	text-decoration: underline;
	font-weight: normal;
}

.active, .music-link:hover {
	color: $color-navy;
	font-weight: bold;
}

.music-info {
	overflow: hidden;
	display: none;
	border: 2px dashed $color-blood;
	width: 50%;
}

.music-text {
	padding: 1vh 1vw;
}