.site-image {
	width: 100%;
	height: auto;
	max-width: 30vw;
	aspect-ratio: 3 / 2;
	object-fit: cover;
	display: block;
}

.image-site-wrapper {
	padding-top: 1vh;
	padding-bottom: 1vh;
	display: grid;
	gap: 2vh 2vw;
	height: auto;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-content: center;
}

.background-image {
	background-image: url("../images/garden-background.jpg");
	background-image: image-set(url("../images/garden-background.jpg") 1x, url("../images/garden-background.jpg") 2x);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	min-height: 100vh;
}