.site-image {
	max-width: 30vw;
	max-height: 30vh;
	width: auto;
	height: auto;
}

.image-site-wrapper {
	padding-top: 1vh;
	padding-bottom: 1vh;
	display: grid;
	column-gap: 2vw;
	row-gap: 2vh;
	height: auto;
	grid-template-columns: auto auto auto;
	justify-content: space-between
}

.background-image {
	background-image: url("../images/garden-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}