---
# This is the Front Matter block
---

@import "fonts";
@import "base";
@import "grid";
@import "sidebar";

// Your styles start here
body {
	background: $color-white;
	color: $color-blue;
	font-family: content;
	margin: 0;
}

head {
	background: $color-white;
	font-family: title;
}

.main-navigation-home {
	background-color: $color-white;
}

.main-navigation {
	background-color: $color-white;
	overflow: hidden;
}

.main-navigation__item {
	float: left;
    width: 10%;
    margin: 0;
    text-align:center;
    padding: 15px 15px;
	font-size: 17px;
	position: relative;
  	overflow: hidden;
  	text-decoration: underline;
}

.main-navigation a, a.inactive {
	color: $color-navy;
}

.main-navigation a:hover {
	background-color: $color-aqua;
	color: $color-navy;
}

.main-navigation a.active {
	background-color: $color-aqua;
	color: $color-white;
}

.main-card {
	float: center;
	text-align: left;
	padding: 0px 15px 15px 15px;
}

.mid-card {
	text-align: center;
}

.sub-card {
	text-align: right;
}

.footer-ul, .footer-li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-ul {
    width: 100%;
}

.footer-li {
    float: left;
    width: 33%;  
    text-align:center;
}

 /* unvisited link */
#footer-link a:link {
  color: $color-tan;
}

/* visited link */
#footer-link a:visited {
  color: $color-navy;
}
