---
# This is the Front Matter block
---

@import "fonts";
@import "base";
@import "grid";
@import "sidebar";
@import "wiki-list";

// Your styles start here
body {
	background: $color-white;
	color: $color-blue;
	font-family: content;
	margin: 0;
}

head {
	background: $color-white;
	font-family: title;
}

p {
	color: $color-navy;
}

h1 {
	text-align: center;
}

h3 {
	text-align: right;
}

hr {
	height: 5px;
	width: 100%;
	color: $color-blood;
	background-color: $color-blood;
	opacity: .75;
	border: none;
}

.main-navigation-home {
	background-color: $color-white;
}

.main-navigation {
	background-color: $color-white;
	overflow: hidden;
	align-content: center;
	display: inline-flex;
	justify-content: space-between;
}

.main-navigation__item {
	display: inline-flex;
    justify-content: space-between;
    margin: 0;
    text-align: center;
    padding: 15px 15px;
	font-size: 17px;
	position: relative;
  	overflow: hidden;
  	text-decoration: underline;
}

.main-navigation a, a.inactive {
	color: $color-navy;
}

.main-navigation a:hover {
	background-color: $color-aqua;
	color: $color-navy;
}

.main-navigation a.active {
	background-color: $color-aqua;
	color: $color-white;
}

.main-card {
	float: center;
	text-align: left;
	padding: 0px 15px 15px 15px;
}

.mid-card {
	text-align: center;
}

.sub-card {
	text-align: right;
}

.footer-ul, .footer-li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-ul {
    width: 100%;
}

.footer-li {
    float: left;
    width: 33%;  
    text-align:center;
}

.footer-li a:link{
  color: $color-aqua;
}

.footer-li a:visited{
  color: $color-navy;
}
