---
layout: default
---
<div class="box content">
	<h1 class="text-regular navy">Books</h1>

	<div class="book-list">
	{% for book in site.books %}
	  <article class="book-item">
	    <h2 class="middle text-regular navy">
	      <a href="{{ book.url | relative_url }}">{{ book.title }}</a>
	    </h2>
	    {% if book.author %}
	    <h3 class="middle text-light navy" style="font-size: 1.2em;">{{ book.author }}</h3>
	    {% endif %}
	    <p>{{ book.content | markdownify | strip_html | truncatewords: 80 }}</p>
	    <p><a href="{{ book.url | relative_url }}">Read more</a></p>
	  </article>
	{% endfor %}
	</div>
</div>