---
layout: default
---
<div class="box content collection-index">
  <h1 class="navy">/books</h1>
  <hr>
  <ul class="entry-list">
    {% assign sorted_books = site.books | sort: 'date' | reverse %}
    {% for book in sorted_books %}
    <li class="entry-list__item">
      <div class="entry-list__header">
        <a href="{{ book.url }}" class="entry-list__title navy">{{ book.title }}</a>
        <span class="entry-list__meta">{{ book.author }}</span>
      </div>
      <p class="entry-list__excerpt">{{ book.content | markdownify | strip_html | truncatewords: 30 }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
