---
layout: default
---
<div class="box content">
	<h1 class="text-regular navy">Movies</h1>
	<hr>
	<br>
	<div class="movie-wrapper">
		{% for movie in site.movies %}
			<article class="movie-card border navy">
				<header class="movie-card__header">
					<h2 class="movie-card__title">{{ movie.title }}</h2>
					{% if movie.rating %}
					<div class="movie-card__rating">
						<span class="sr-only">Rating:</span>
						<span aria-hidden="true">{{ movie.rating }}</span>
					</div>
					{% endif %}
				</header>
				<div class="movie-card__body">
					{{ movie.content | markdownify }}
				</div>
			</article>
		{% endfor %}
	</div>
</div>