---
layout: default
---
<div class="box content">
	<h1 class="text-regular navy">Movies</h1>
	<hr>
	<br>
	<div class="movie-wrapper">
		{% for movie in site.movies %}
		{% assign movieIndex = forloop.index0 | divided_by:4 %}
		<div style="grid-area: movie-{% cycle 'left', 'lmid', 'rmid', 'right' %}{{movieIndex}}" class="border navy">
			<h2 style="width: auto; display: block; float: left;">{{ movie.title }}</h2>
			<h3 style="width: auto; display: block; float: right;">{{ movie.rating }}</h3>
			<br>
			<br>
			<br>
			<p>{{ movie.content | markdownify }}</p>
		</div>
		{% endfor %}
	</div>
	<br>
	<hr>
	<br>
</div>