---
layout: default
---
<div class="box content">
	<h1>Movies</h1>
	<hr>
	<br>
	<div class="movie-wrapper">
		{% for movie in site.movies %}
		{% assign movieIndex = {{forloop.index0}} | divided_by:4 %}
		<div class="movie-{% cycle 'right', 'left', 'lmid', 'rmid' %}{{movieIndex}} navy">
			<h2 style="display: inline; float: left;">{{ movie.title }}</h2>
			<h3 style="display: inline; float: right;">{{ movie.rating }}</h3>
			<br>
			<br>
			<p>{{ movie.content | markdownify }}</p>
			<hr>  
		</div>
		{% endfor %}
	</div>
</div>