---
layout: default
---
<div class="box content">
	<h1>Playlists</h1>
	<hr>
	<br>
	{% assign sorted_playlists = site.playlists | sort: 'order' %}
	<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
		{% for playlist in sorted_playlists %}
		<div style="flex: 1 0 auto; padding-bottom: 5vw; width: 100%;">
			<h2 id="big-name" style="height: 50vh; text-align: right; position: relative; float: left; writing-mode: vertical-rl; transform: rotate(-180deg);">
			 - <span class="text-regular">{{ playlist.title }}</span> - <span class="text-light">{{ playlist.story }}</span>
			</h2>
			{{ playlist.embed }}
		</div>
		{% endfor %}
	</div>
</div>
