---
layout: default
---
<div class="box content">
	<h1 class="text-regular navy">Thoughts</h1>
	<hr>
	<div class="thought-wrapper">
		{% assign sorted = site.thoughts | where_exp:"t","t.view == true" | sort: 'date' | reverse %}
		{% for thought in sorted %}
			<div class="thought-col-left">
				<h2 class="middle navy">{{ thought.title }}</h2>
				{% if thought.date or thought.time %}
				<h3 class="middle navy">
					{% if thought.date %}
					<time datetime="{{ thought.date | date_to_xmlschema }}">{{ thought.date | date: "%b %-d, %Y" }}</time>
					{% else %}
					{{ thought.time }}
					{% endif %}
				</h3>
				{% endif %}
			</div>
			<div class="thought-col-right">
				<p>{{ thought.content | markdownify }}</p>
			</div>
			{% if forloop.index != sorted.size %}
			<hr class="thought-divider">
			{% endif %}
		{% endfor %}
	</div>
</div>