---
layout: default
---
<div class="box content collection-index">
  <h1 class="navy">/thoughts</h1>
  <hr>
  <ul class="entry-list">
    {% assign sorted = site.thoughts | where_exp:"t","t.view == true" | sort: 'date' | reverse %}
    {% for thought in sorted %}
    <li class="entry-list__item">
      <div class="entry-list__header">
        <a href="{{ thought.url }}" class="entry-list__title navy">{{ thought.title }}</a>
        <span class="entry-list__date">{{ thought.time }}</span>
      </div>
      <p class="entry-list__excerpt">{{ thought.content | markdownify | strip_html | truncatewords: 25 }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
