---
layout: default
---
<div class="box content">
	<h1 class="text-regular navy">Thoughts</h1>
	<hr>
	<div class="thought-wrapper">
		{% assign sorted = site.thoughts | where_exp:"t","t.view == true" | sort: 'date' | reverse %}
		{% for thought in sorted %}
		<div style="grid-row: {{ forloop.index | times:2 | minus:1 }}" class="thought-col-left">
			<h2 class="middle navy">{{ thought.title }}</h2>
			<h3 class="middle navy">{{ thought.time }}</h3>
		</div>
		<div style="grid-row: {{ forloop.index | times:2 | minus:1 }}" class="thought-col-right">
			<p>{{ thought.content | markdownify }}</p>
		</div>
		{% if forloop.index != sorted.size %}
		<hr style="grid-row: {{ forloop.index | times:2 }}; grid-column: 1/-1;">
		{% endif %}
		{% endfor %}
	</div>
</div>