---
layout: default
---
<div class="box content">
	<hr>
	<h1 class="text-regular navy">Welcome to my Wiki!</h1>
	<hr>
	<h2 class="text-light middle navy">A collection of half-baked ideas, unnecessary opinions, personal interests, and shareable tidbits.</h2>
	<ul class="wiki-ul">
		{% for page in site.wiki %}
		<li class="wiki-li">
			<a class="wiki-link" href="/{{ page.title }}">
				<div class="content">
					<i class="fa fa-{{ page.icon }}"></i>
					<div>
						<h1>/{{ page.title }}</h1>
						<h2>{{ page.description }}</h2>
					</div>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>